body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    background-image: url("/festive.gif");
    color: #45F0DF;
    font-size: 25px;
}
#container {
    text-align: center;
    border-style: solid;
    border-color: #45F0DF;
    border-width: 2.3px;
    background-color: #692d2d;
    width: 50%;
    margin-top: 10%;
		transition: .7s;
}
#container:hover {
		background-color: #2f692d;
		border-color: #f046e7;
}
img {
    max-width: 50%;
    height: auto;
    transition: transform .4s;
}
img:hover {
    transform: scale(1.5);
}
.prefont {
    font-family: monospace;
}
a {
    color: #DFB2F4;
}
a:hover {
    font-weight: bold;
    color: #F49097;
}
hr {
    width: 75%;
    opacity: 0.3;
}
.rainbow{
		animation: rainbow 2.5s linear;
		animation-iteration-count: infinite;
}
@keyframes rainbow{
		100%,0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
}
.maxiblogtimestamp {
		background-color: black;
		color: white;
}
.maxiblogentry {
		border-color: pink;
		border-style: dashed;
		border-width: 3px;
		margin: 3%;
}
