body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("/bg.gif");
    color: #45F0DF;
    font-size: 25px;
}
#container {
    text-align: center;
    border-style: solid;
    border-color: #45F0DF;
    border-width: 2.3px;
    background-color: #682d63;
    width: 50%;
}
img {
    max-width: 50%;
    height: auto;
}
.prefont {
    font-family: monospace;
}
a {
    color: #DFB2F4;
}
a:hover {
    font-weight: bold;
    color: #F49097;
}
hr {
    width: 75%;
}